@import "./color_schemes/light";
@import "./support/_variables";
@import "./layout.scss";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$base-light: #fffcf3;

$link-color: $green-200;
$nav-child-link-color: $green-200;
$sidebar-color: $base-light;
$btn-primary-color: $green-100;
$code-background-color: $base-light !important;
$feedback-color: darken($sidebar-color, 6%);

// Typography
$body-font-family: 'Libre Baskerville', 'Times New Roman', serif;
$body-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$body-line-height: 1.5;
$content-line-height: 2;
$body-heading-line-height: 1.5;

h2, h3, h4, h5, h6, .nav-list-link, footer, .search-input, ol, table {
  font-family: $body-sans; 
}

h2,
.text-beta,
#toctitle {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}


$border-color: #e0d9d9;

.site-header {
 font-family: $body-sans; 
 min-width: 280px;
}
